html{
	background-color: #661208;
}

/*--------------------header--------------------------*/
.header{
	height: 71px;
	width: 715px;
	margin: auto;
	margin-bottom: ;
	text-align: center;
}

.large-vert-div{
	border-right: solid 1px #94593f;
	height: 33px;
	display: inline-block;
	margin: 2px 25px 10px 25px;
}

.gold-text{
	font-family: 'ApexSerif Bold';
	font-size: 16px;
	color: #fff6c5;
	display: inline-block;
	text-transform: uppercase;
}

.gold-text a {
	text-decoration: none;
	color:#fff6c5;
}

/*--------------------mural--------------------------*/
.mural{
	width: 709px;
	height: 224px;
	background-image: url('images/mural-border.png');
/*	border-top: 3px solid #e0bc7a;
	border-bottom: 3px solid #fdf9ef;
	border-left: 3px solid #e3cda1;
	border-right: 3px solid #E4D1AC;*/
	margin: auto;
	padding: 3px;
}

.cards{
	background-image: url('images/cards.png');
	width: 482px;
	height: 224px;
	display: inline-block;
	color: #fece0f;
	font-family: "A&S Blaze";
	float: left;
}

.card-text{
	float: right;
	position: relative;
	top: 85px;
	right: 48px;
	margin:0px;
	clear: right;
	height: auto;
}
.card-text h1{
	margin: 0px;
	line-height: 26px;
}

.sparkle{
	position: relative;
}

.sparkle.top{
	top: -15px;
	left: 110px;
}

.sparkle.bot{
	top: 211px;
	left: -35px;

}

.sparkle.right{
	top: -14px;
	left: 11px;
	float: right;
}

.mural .large-vert-div{
	border-right: solid 1px #3b2428;
	border-left: solid 1px #fff;
	height: 100%;
	display: inline-block;
	margin: 0px;
	float: left;
}

.gold-box{
	float: left;
	width: 225px;
	height: 224px;
	background-image: url('images/gold-pic.png');
	display: inline-block;
	font-size: 24px;
}

.apex-dark{
	font-family: 'ApexSerif Bold';
	text-transform: uppercase;
	margin: 0px;
	color: #644D29;
	text-shadow: 0px 0px 4px #7E6033;
	font-size: 24px;
	text-align: center;
	line-height: 28px;
	}

.large-text{
	font-size: 36px;
	font-family: 'ApexSerif Bold';
	font-weight: 800;
}

.gold-box div{
	margin: auto;
	width: 155px;
	height: 155px;
	position: relative;
	top: 39px;
}

.gold-box div img{
	position: relative;
	left: 45px;
}

/*--------------------main--------------------------*/
.main{
	width: 693px;
	height: 438px;
	padding: 11px;
	margin: auto;
}

.main img {
	display: inline-block;
}

.main .gold-text{
display: block;
margin: 20px 0px;
display: block;
}

p{
	color: #fff;
	font-family: tahoma;
	font-size: 10px;
	margin: 0px 0px;
	line-height: 15px;
}

li{
	list-style-image: url(images/list-img.png);
	color: #fffdb9;
}

/*--------------------section--------------------------*/

.section{
	width: 435px;
	display: inline-block;
}

.section img{
	float: left;
		margin-right: 15px;
}

.games{
	display: inline-block;
	width: 200px;
	height: 60px;
	margin: 0px 15px 25px 0px;
}

/*--------------------aside--------------------------*/
.aside{
	width: 210px;
	display: inline-block;
	float: right;
}

.pic-div{
	width: 199px;
	height: 61px;
	border: 3px solid #fffdc0;
}

.pic-div img{
	max-width: 199px;
	max-height: 61px;
}

.yellow-text{
	color: #fffdbf;
	font-size: 12px;
	font-family: 'Trebuchet Ms';
}

.aside ul {
	padding-left: 25px;
}

.aside li{
	text-decoration: underline;
	font-size: 10px;
	font-family: tahoma;
	font-size: 10px;
	margin: 0px;
	margin-bottom: 15px;
	line-height: 15px;
	padding-left: 12px;
}

.aside .yellow-text{
margin: 16px 0px;
}

/*--------------------footer--------------------------*/

.footer{
	width: 100%;
	height: 60px;
	text-align: center;
	color: #fffdb9;
	margin: auto;
	font-size: 10px;
	box-shadow: 0px 20px 25px 0px #3a0a05 inset;
	clear: both;
	padding-top: 10px;
}

.footer li{
	display: inline-block;
	list-style-image: url(images/footer-li.png);
	text-decoration: none;
	font-size: 11px;
	border-right:1px solid #fffdb9;
	padding-left:5px;
	padding-right:6px;
}

.footer li:first-of-type{
	padding-left:0px;	
}

.footer li:last-of-type {
	padding-right:0px;
	border:none;
}

.footer a{
	color: #fffdb9;
	text-decoration: none;
	text-transform: uppercase;
}

.footer a:visited{
	color: #fffdb9;
}